Repository kokuwaio/renovate-approve-bot: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy, image, dockerhub, sbom, lint, renovate, just, dockerfile, yaml, markdown, test, verify, rust

deploy:
  steps:
    image:
      image: kokuwaio/buildctl:v0.25.1
      settings:
        name:
        - registry.kokuwa.io/kokuwaio/renovate-approve-bot:dev
        - docker.io/kokuwaio/renovate-approve-bot:dev
        - ghcr.io/kokuwaio/renovate-approve-bot:dev
        platform:
        - linux/amd64
        - linux/arm64
  ...

image:
  image: kokuwaio/buildctl:v0.25.1
  settings:
    name:
    - registry.kokuwa.io/kokuwaio/renovate-approve-bot:dev
    - docker.io/kokuwaio/renovate-approve-bot:dev
    - ghcr.io/kokuwaio/renovate-approve-bot:dev
    platform:
    - linux/amd64
    - linux/arm64
    build-args:
  ...

dockerhub:
  depends_on:
  - image
  image: kokuwaio/dockerhub-metadata
  settings:
    repository: kokuwaio/renovate-approve-bot
    description-short: Bot to approve pull requests made by Renovate in Forgejo/Gitea.
    categories:
    - developer-tools
    - integration-and-delivery
    username:
  ...

sbom:
  depends_on:
  - image
  image: ghcr.io/cyclonedx/cdxgen-debian-rust:v11.9.0
  commands: node /opt/cdxgen/bin/cdxgen.js --fail-on-error --author="$GIT_USER_NAME <$GIT_USER_EMAIL>" --server-url=https://dtrack.kokuwa.io --api-key=$DTRACK_API_KEY --project-id=594d7129-9099-4f53-a284-8eccbbf35d2a
  environment:
  ...

lint:
  steps:
    renovate:
      image: kokuwaio/renovate-config-validator:43
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - renovate.json
    just:
      image: kokuwaio/just:1.46.0
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - .justfile
  ...

renovate:
  image: kokuwaio/renovate-config-validator:43
  depends_on: []

just:
  image: kokuwaio/just:1.46.0
  depends_on: []

dockerfile:
  image: kokuwaio/hadolint:v2.14.0
  depends_on: []

yaml:
  image: kokuwaio/yamllint:v1.38.0
  depends_on: []

markdown:
  image: kokuwaio/markdownlint:0.47.0
  depends_on: []

test:
  steps:
    help:
      image: kokuwaio/renovate-approve-bot
      pull: true
      entrypoint:
      - /renovate-approve-bot
      - --help
    version:
      image: kokuwaio/renovate-approve-bot
      pull: true
      entrypoint:
      - /renovate-approve-bot
      - --version

verify:
  steps:
    image:
      image: kokuwaio/buildctl:v0.26.3
      depends_on: []
      settings:
        platform:
        - linux/amd64
        - linux/arm64
        build-args:
          RUSTUP_DIST_SERVER: ${RUSTUP_DIST_SERVER}
          RUSTUP_UPDATE_ROOT: ${RUSTUP_UPDATE_ROOT}
    rust:
  ...

rust:
  image: rust:1.92.0-slim-bookworm
  depends_on: []
  commands:
  - rustup component add rustfmt
  - cargo fmt --all --check

chore(deps): update docker.io/library/rust:1.97.1-slim-trixie docker digest to 2b5ac00
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

chore(deps): update docker.io/library/rust:1.97.1-slim-trixie docker digest to b5b16ce
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

chore(deps): update docker.io/library/rust:1.97.1-slim-trixie docker digest to 3b28790
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

chore(deps): update kokuwaio/hadolint docker tag from v2.14.0 to v2.15.1
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, just, dockerfile, yaml, markdown

fix: ignore new hadolint warning because bash is not recognized
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

chore(deps): update rust crate clap from =4.6.5 to =4.6.6
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update ghcr.io/cyclonedx/cdxgen-debian-rust docker tag from v12.1.5 to 12.7.1
  .justfile
  .woodpecker/deploy.yaml
Due: deploy, image, dockerhub, sbom, lint, just, yaml, test

chore(deps): update ghcr.io/cyclonedx/cdxgen-debian-rust docker tag from v12.1.5 to 12.8.2
  .justfile
  .woodpecker/deploy.yaml
Due: deploy, image, dockerhub, sbom, lint, just, yaml, test

chore(deps): update ghcr.io/cyclonedx/cdxgen-debian-rust docker tag from 12.8.2 to 12.8.3
  .justfile
  .woodpecker/deploy.yaml
Due: deploy, image, dockerhub, sbom, lint, just, yaml, test

chore(deps): update docker.io/library/rust:1.97.1-slim-trixie docker digest to 8e8cf8f
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

chore(deps): update ghcr.io/cyclonedx/cdxgen-debian-rust docker tag from 12.8.3 to 13.0.0
  .justfile
  .woodpecker/deploy.yaml
Due: deploy, image, dockerhub, sbom, lint, just, yaml, test

chore(deps): update ghcr.io/cyclonedx/cdxgen-debian-rust docker tag from 13.0.0 to 13.0.1
  .justfile
  .woodpecker/deploy.yaml
Due: deploy, image, dockerhub, sbom, lint, just, yaml, test

chore(deps): update rust crate log from =0.4.33 to =0.4.34
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust docker tag from 1.97.1-slim to 1.98.0-slim
  .woodpecker/verify.yaml
Due: lint, yaml, verify, rust

chore(deps): update docker.io/library/rust docker tag from 1.97.1-slim-trixie to 1.98.0-slim-trixie
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

chore(deps): update docker.io/library/rust:1.98.0-slim-trixie docker digest to 17d1ba8
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

chore(deps): update kokuwaio/buildctl docker tag from v0.32.2 to v0.33.0
  .woodpecker/deploy.yaml
  .woodpecker/verify.yaml
Due: deploy, image, dockerhub, sbom, lint, yaml, test, verify, rust

chore(deps): update ghcr.io/cyclonedx/cdxgen-debian-rust docker tag from 13.0.1 to 13.1.0
  .justfile
  .woodpecker/deploy.yaml
Due: deploy, image, dockerhub, sbom, lint, just, yaml, test

chore(deps): update rust crate reqwest from =0.13.4 to =0.13.5
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust crate rustls from =0.23.43 to =0.23.44
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust docker tag from 1.98.0-slim to 1.98.1-slim
  .woodpecker/verify.yaml
Due: lint, yaml, verify, rust

chore(deps): update docker.io/library/rust docker tag from 1.98.0-slim-trixie to 1.98.1-slim-trixie
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

chore(deps): update rust crate rustls from =0.23.44 to =0.23.45
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust crate clap from =4.6.6 to =4.6.7
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update docker.io/library/rust:1.98.1-slim-trixie docker digest to 3999a7f
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

chore(deps): update docker.io/library/rust:1.98.1-slim-trixie docker digest to ca5c572
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

chore(deps): update docker.io/library/rust:1.98.1-slim-trixie docker digest to 8ce6592
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

chore(deps): update docker.io/library/rust:1.98.1-slim-trixie docker digest to b006de2
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

chore(deps): update docker.io/library/rust:1.98.1-slim-trixie docker digest to 60c65b6
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

chore(deps): update docker.io/library/rust:1.98.1-slim-trixie docker digest to f47a8de
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

chore(deps): update docker.io/library/rust:1.98.1-slim-trixie docker digest to 4cd8294
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

chore(deps): update kokuwaio/buildctl docker tag from v0.33.0 to v0.33.1
  .woodpecker/deploy.yaml
  .woodpecker/verify.yaml
Due: deploy, image, dockerhub, sbom, lint, yaml, test, verify, rust

chore(deps): update docker.io/library/rust docker tag from 1.98.1-slim-trixie to 1.99.0-slim-trixie
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

chore(deps): update rust docker tag from 1.98.1-slim to 1.99.0-slim
  .woodpecker/verify.yaml
Due: lint, yaml, verify, rust

chore(deps): update ghcr.io/cyclonedx/cdxgen-debian-rust docker tag from 13.1.0 to 13.3.0
  .justfile
  .woodpecker/deploy.yaml
Due: deploy, image, dockerhub, sbom, lint, just, yaml, test

chore(deps): update docker.io/library/rust:1.99.0-slim-trixie docker digest to 0952c7a
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

chore(deps): update docker.io/library/rust:1.99.0-slim-trixie docker digest to a324561
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

chore(deps): update docker.io/library/rust:1.99.0-slim-trixie docker digest to 24e632c
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

chore(deps): update kokuwaio/buildctl docker tag from v0.33.1 to v0.34.0
  .woodpecker/deploy.yaml
  .woodpecker/verify.yaml
Due: deploy, image, dockerhub, sbom, lint, yaml, test, verify, rust

chore(deps): update docker.io/library/rust:1.99.0-slim-trixie docker digest to 2752b33
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

Path conditions:
  deploy: any of: .woodpecker/deploy.yaml, README.md, Dockerfile, Cargo.toml, Cargo.lock, src/**
  image: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile, Cargo.toml, Cargo.lock, src/**) and (any file but: README.md)
  dockerhub: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile, Cargo.toml, Cargo.lock, src/**) and (any of: .woodpecker/deploy.yaml, README.md)
  sbom: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile, Cargo.toml, Cargo.lock, src/**) and (any of: .woodpecker/deploy.yaml, Cargo.toml, Cargo.lock)
  lint: any of: .woodpecker/lint.yaml, renovate.json, .justfile, Dockerfile, **/*.yaml, **/*.md
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, .justfile, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, renovate.json)
  just: (any of: .woodpecker/lint.yaml, renovate.json, .justfile, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, .justfile)
  dockerfile: (any of: .woodpecker/lint.yaml, renovate.json, .justfile, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, Dockerfile)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, .justfile, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, **/*.yaml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, .justfile, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, **/*.md, .markdownlint.yaml)
  test: any of: .woodpecker/deploy.yaml, README.md, Dockerfile, Cargo.toml, Cargo.lock, src/**
  verify: any of: .woodpecker/verify.yaml, Dockerfile, Cargo.toml, Cargo.lock, src/**
  rust: (any of: .woodpecker/verify.yaml, Dockerfile, Cargo.toml, Cargo.lock, src/**) and (any file but: Dockerfile)
