Repository kokuwaio/renovate-approve-bot: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy, image, dockerhub, sbom, lint, renovate, just, dockerfile, yaml, markdown, test, verify, rust

deploy:
  steps:
    image:
      image: kokuwaio/buildctl:v0.25.1
      settings:
        name:
        - registry.kokuwa.io/kokuwaio/renovate-approve-bot:dev
        - docker.io/kokuwaio/renovate-approve-bot:dev
        - ghcr.io/kokuwaio/renovate-approve-bot:dev
        platform:
        - linux/amd64
        - linux/arm64
  ...

image:
  image: kokuwaio/buildctl:v0.25.1
  settings:
    name:
    - registry.kokuwa.io/kokuwaio/renovate-approve-bot:dev
    - docker.io/kokuwaio/renovate-approve-bot:dev
    - ghcr.io/kokuwaio/renovate-approve-bot:dev
    platform:
    - linux/amd64
    - linux/arm64
    build-args:
  ...

dockerhub:
  depends_on:
  - image
  image: kokuwaio/dockerhub-metadata
  settings:
    repository: kokuwaio/renovate-approve-bot
    description-short: Bot to approve pull requests made by Renovate in Forgejo/Gitea.
    categories:
    - developer-tools
    - integration-and-delivery
    username:
  ...

sbom:
  depends_on:
  - image
  image: ghcr.io/cyclonedx/cdxgen-debian-rust:v11.9.0
  commands: node /opt/cdxgen/bin/cdxgen.js --fail-on-error --author="$GIT_USER_NAME <$GIT_USER_EMAIL>" --server-url=https://dtrack.kokuwa.io --api-key=$DTRACK_API_KEY --project-id=594d7129-9099-4f53-a284-8eccbbf35d2a
  environment:
  ...

lint:
  steps:
    renovate:
      image: kokuwaio/renovate-config-validator:43
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - renovate.json
    just:
      image: kokuwaio/just:1.46.0
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - .justfile
  ...

renovate:
  image: kokuwaio/renovate-config-validator:43
  depends_on: []

just:
  image: kokuwaio/just:1.46.0
  depends_on: []

dockerfile:
  image: kokuwaio/hadolint:v2.14.0
  depends_on: []

yaml:
  image: kokuwaio/yamllint:v1.38.0
  depends_on: []

markdown:
  image: kokuwaio/markdownlint:0.47.0
  depends_on: []

test:
  steps:
    help:
      image: kokuwaio/renovate-approve-bot
      pull: true
      entrypoint:
      - /renovate-approve-bot
      - --help
    version:
      image: kokuwaio/renovate-approve-bot
      pull: true
      entrypoint:
      - /renovate-approve-bot
      - --version

verify:
  steps:
    image:
      image: kokuwaio/buildctl:v0.26.3
      depends_on: []
      settings:
        platform:
        - linux/amd64
        - linux/arm64
        build-args:
          RUSTUP_DIST_SERVER: ${RUSTUP_DIST_SERVER}
          RUSTUP_UPDATE_ROOT: ${RUSTUP_UPDATE_ROOT}
    rust:
  ...

rust:
  image: rust:1.92.0-slim-bookworm
  depends_on: []
  commands:
  - rustup component add rustfmt
  - cargo fmt --all --check

chore(deps): update rust crate reqwest from =0.12.28 to =0.13.2
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust docker tag to v1.93.1
  .woodpecker/verify.yaml
  Cargo.toml
  Dockerfile
Due: deploy, image, sbom, lint, dockerfile, yaml, test, verify, rust

chore(deps): update kokuwaio/markdownlint docker tag from 0.47.0 to 0.48.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, just, dockerfile, yaml, markdown

chore(deps): update kokuwaio/just docker tag from 1.46.0 to 1.47.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, just, dockerfile, yaml, markdown

chore(ci): fix issues with ci
  .justfile
  .woodpecker/deploy.yaml
  .woodpecker/lint.yaml
  .woodpecker/verify.yaml
  Cargo.lock
  Cargo.toml
  Dockerfile
  renovate.json
Due: deploy, image, dockerhub, sbom, lint, renovate, just, dockerfile, yaml, markdown, test, verify, rust

feat: only approve pull request with all status checks successful
  Cargo.lock
  Cargo.toml
  src/forgejo.rs
  src/main.rs
Due: deploy, image, sbom, test, verify, rust

chore: update version to 0.0.3
  .woodpecker/deploy.yaml
  .woodpecker/test.yaml
  Cargo.lock
  Cargo.toml
Due: deploy, image, dockerhub, sbom, lint, yaml, test, verify, rust

chore: update version to 0.0.4-dev
  .woodpecker/deploy.yaml
  .woodpecker/test.yaml
  Cargo.lock
  Cargo.toml
Due: deploy, image, dockerhub, sbom, lint, yaml, test, verify, rust

chore(renovate): remove custom manager to update rust version
  renovate.json
Due: lint, renovate

chore(deps): update ghcr.io/cyclonedx/cdxgen-debian-rust docker tag from v12.0.0 to v12.1.5
  .justfile
  .woodpecker/deploy.yaml
Due: deploy, image, dockerhub, sbom, lint, just, yaml, test

chore(deps): update rust docker tag from 1.92.0-slim to 1.94.1-slim
  .woodpecker/verify.yaml
Due: lint, yaml, verify, rust

fix(image): add arch to cache id for apt
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

chore(deps): update docker.io/library/rust:1.94.1-slim-trixie docker digest to cf09adf
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

fix: request feature changed in 0.13.x
  Cargo.lock
  Cargo.toml
  src/forgejo.rs
  src/main.rs
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust crate rustls from =0.23.37 to =0.23.38
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust crate env_logger from =0.11.10 to =0.11.11
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust crate clap from =4.6.0 to =4.6.4
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust crate log from =0.4.29 to =0.4.33
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust crate reqwest from =0.13.2 to =0.13.4
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust crate rustls from =0.23.38 to =0.23.42
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust crate serde from =1.0.228 to =1.0.229
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update kokuwaio/buildctl docker tag from v0.29.0 to v0.31.2
  .woodpecker/deploy.yaml
  .woodpecker/verify.yaml
Due: deploy, image, dockerhub, sbom, lint, yaml, test, verify, rust

chore(deps): update rust crate webpki-root-certs from =1.0.6 to =1.0.9
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust docker tag from 1.94.1-slim to 1.97.1-slim
  .woodpecker/verify.yaml
Due: lint, yaml, verify, rust

chore(deps): update docker.io/library/rust docker tag from 1.94.1-slim-trixie to 1.97.1-slim-trixie
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

chore(deps): update kokuwaio/just docker tag from 1.49.0 to 1.51.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, just, dockerfile, yaml, markdown

chore(deps): update kokuwaio/markdownlint docker tag from 0.48.0 to 0.49.1
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, just, dockerfile, yaml, markdown

chore(deps): update kokuwaio/just docker tag from 1.51.0 to 1.57.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, just, dockerfile, yaml, markdown

chore(deps): update ghcr.io/cyclonedx/cdxgen-debian-rust docker tag from v12.1.5 to v12.4.4
  .justfile
  .woodpecker/deploy.yaml
Due: deploy, image, dockerhub, sbom, lint, just, yaml, test

chore(deps): update ghcr.io/cyclonedx/cdxgen-debian-rust docker tag from v12.1.5 to v12.5.1
  .justfile
  .woodpecker/deploy.yaml
Due: deploy, image, dockerhub, sbom, lint, just, yaml, test

chore(deps): update ghcr.io/cyclonedx/cdxgen-debian-rust docker tag from v12.1.5 to v12.6.0
  .justfile
  .woodpecker/deploy.yaml
Due: deploy, image, dockerhub, sbom, lint, just, yaml, test

chore(deps): update rust crate rustls from =0.23.42 to =0.23.43
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update kokuwaio/renovate-config-validator docker tag from 43 to 44
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, just, dockerfile, yaml, markdown

chore(deps): update kokuwaio/buildctl docker tag from v0.31.2 to v0.32.0
  .woodpecker/deploy.yaml
  .woodpecker/verify.yaml
Due: deploy, image, dockerhub, sbom, lint, yaml, test, verify, rust

chore(deps): update rust crate clap from =4.6.4 to =4.6.5
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update kokuwaio/buildctl docker tag from v0.32.0 to v0.32.1
  .woodpecker/deploy.yaml
  .woodpecker/verify.yaml
Due: deploy, image, dockerhub, sbom, lint, yaml, test, verify, rust

chore(deps): update kokuwaio/just docker tag from 1.57.0 to 1.58.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, just, dockerfile, yaml, markdown

chore(deps): update kokuwaio/buildctl docker tag from v0.32.1 to v0.32.2
  .woodpecker/deploy.yaml
  .woodpecker/verify.yaml
Due: deploy, image, dockerhub, sbom, lint, yaml, test, verify, rust

chore(deps): update docker.io/library/rust:1.97.1-slim-trixie docker digest to 6915397
  Dockerfile
Due: deploy, image, lint, dockerfile, test, verify

Path conditions:
  deploy: any of: .woodpecker/deploy.yaml, README.md, Dockerfile, Cargo.toml, Cargo.lock, src/**
  image: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile, Cargo.toml, Cargo.lock, src/**) and (any file but: README.md)
  dockerhub: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile, Cargo.toml, Cargo.lock, src/**) and (any of: .woodpecker/deploy.yaml, README.md)
  sbom: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile, Cargo.toml, Cargo.lock, src/**) and (any of: .woodpecker/deploy.yaml, Cargo.toml, Cargo.lock)
  lint: any of: .woodpecker/lint.yaml, renovate.json, .justfile, Dockerfile, **/*.yaml, **/*.md
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, .justfile, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, renovate.json)
  just: (any of: .woodpecker/lint.yaml, renovate.json, .justfile, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, .justfile)
  dockerfile: (any of: .woodpecker/lint.yaml, renovate.json, .justfile, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, Dockerfile)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, .justfile, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, **/*.yaml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, .justfile, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, **/*.md, .markdownlint.yaml)
  test: any of: .woodpecker/deploy.yaml, README.md, Dockerfile, Cargo.toml, Cargo.lock, src/**
  verify: any of: .woodpecker/verify.yaml, Dockerfile, Cargo.toml, Cargo.lock, src/**
  rust: (any of: .woodpecker/verify.yaml, Dockerfile, Cargo.toml, Cargo.lock, src/**) and (any file but: Dockerfile)
