Repository kokuwaio/renovate-approve-bot: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy, image, dockerhub, test

deploy:
  steps:
    image:
      image: kokuwaio/buildctl:v0.23.2
      settings:
        name:
        - registry.kokuwa.io/kokuwaio/renovate-approve-bot
        - docker.io/kokuwaio/renovate-approve-bot
        - ghcr.io/kokuwaio/renovate-approve-bot
        platform:
        - linux/amd64
        - linux/arm64
        auth:
  ...

image:
  image: kokuwaio/buildctl:v0.23.2
  settings:
    name:
    - registry.kokuwa.io/kokuwaio/renovate-approve-bot
    - docker.io/kokuwaio/renovate-approve-bot
    - ghcr.io/kokuwaio/renovate-approve-bot
    platform:
    - linux/amd64
    - linux/arm64
    auth:
      https://index.docker.io/v1/:
        username:
  ...

dockerhub:
  image: kokuwaio/dockerhub-metadata
  settings:
    repository: kokuwaio/renovate-approve-bot
    description-short: Bot to approve pull requests made by Renovate in Forgejo/Gitea.
    categories:
    - developer-tools
    - integration-and-delivery
    username:
      from_secret: dockerhub_username
    password:
  ...

test:
  steps:
    help:
      image: kokuwaio/renovate-approve-bot
      pull: true
      entrypoint:
      - /renovate-approve-bot
      - --help
    version:
      image: kokuwaio/renovate-approve-bot
      pull: true
      entrypoint:
      - /renovate-approve-bot
      - --version

feat: add flag `--log-level`, rel #14
  Cargo.lock
  Cargo.toml
  README.md
  src/configuration.rs
  src/main.rs
Due: deploy, image, dockerhub, test

feat: add flag `--log-format`, rel #14
  Cargo.lock
  Cargo.toml
  README.md
  src/configuration.rs
  src/main.rs
Due: deploy, image, dockerhub, test

feat: export sbom to dtrack, rel #15
  .justfile
  .woodpecker/deploy.yaml
Due: deploy, image, dockerhub, test

docs: show usage as kubernetes cronjob
  README.md
Due: deploy, dockerhub, test

chore: deploy main branch to image tag `dev`
  .woodpecker/deploy.yaml
  Cargo.lock
  Cargo.toml
Due: deploy, image, dockerhub, test

chore: use rust mirror in ci
  .justfile
  .woodpecker/deploy.yaml
  .woodpecker/verify.yaml
  Dockerfile
Due: deploy, image, dockerhub, test

chore(deps): update ghcr.io/cyclonedx/cdxgen-debian-rust docker tag from v11.4.3 to v11.4.4
  .woodpecker/deploy.yaml
Due: deploy, image, dockerhub, test

chore(deps): update rust:1.88.0-slim docker digest to 9876534
  Dockerfile
Due: deploy, image, test

chore(deps): update rust:1.88.0-slim docker digest to 094f072
  Dockerfile
Due: deploy, image, test

chore(deps): update rust:1.88.0-slim docker digest to 4679aa0
  Dockerfile
Due: deploy, image, test

chore(deps): update rust:1.88.0-slim docker digest to 38bc5a8
  Dockerfile
Due: deploy, image, test

chore(deps): update rust crate clap from 4.5.41 to 4.5.42
  Cargo.lock
Due: deploy, image, test

chore(deps): update rust crate clap from 4.5.42 to 4.5.43
  Cargo.lock
Due: deploy, image, test

chore(deps): update rust docker tag to v1.89.0
  .woodpecker/verify.yaml
  Cargo.toml
  Dockerfile
Due: deploy, image, test

chore(deps): update ghcr.io/cyclonedx/cdxgen-debian-rust docker tag from v11.4.4 to v11.5.0
  .woodpecker/deploy.yaml
Due: deploy, image, dockerhub, test

chore(deps): update rust crate clap from 4.5.43 to 4.5.44
  Cargo.lock
Due: deploy, image, test

chore(deps): update rust crate reqwest from 0.12.22 to 0.12.23
  Cargo.lock
Due: deploy, image, test

chore(deps): update rust crate clap from 4.5.44 to 4.5.45
  Cargo.lock
Due: deploy, image, test

chore(deps): update rust:1.89.0-slim docker digest to 59ec16f
  Dockerfile
Due: deploy, image, test

chore(deps): update rust:1.89.0-slim docker digest to 2ff54dd
  Dockerfile
Due: deploy, image, test

chore(deps): update rust:1.89.0-slim docker digest to b09c070
  Dockerfile
Due: deploy, image, test

chore(deps): update rust:1.89.0-slim docker digest to 21e2ac3
  Dockerfile
Due: deploy, image, test

chore(deps): update ghcr.io/cyclonedx/cdxgen-debian-rust docker tag from v11.5.0 to v11.6.0
  .woodpecker/deploy.yaml
Due: deploy, image, dockerhub, test

chore(deps): update rust:1.89.0-slim docker digest to 6c828d9
  Dockerfile
Due: deploy, image, test

chore(deps): update rust:1.89.0-slim docker digest to 6275519
  Dockerfile
Due: deploy, image, test

chore(deps): update rust:1.89.0-slim docker digest to e556a01
  Dockerfile
Due: deploy, image, test

chore(deps): update rust crate clap from 4.5.45 to 4.5.46
  Cargo.lock
Due: deploy, image, test

chore: use debian release name in tag
  .justfile
  Dockerfile
Due: deploy, image, test

chore(deps): update rust:1.89.0-slim-bookworm docker digest to 5bc71e2
  Dockerfile
Due: deploy, image, test

chore(deps): update rust:1.89.0-slim-bookworm docker digest to 728cf91
  Dockerfile
Due: deploy, image, test

chore(deps): update rust:1.89.0-slim-bookworm docker digest to 02ac281
  Dockerfile
Due: deploy, image, test

chore(deps): update rust:1.89.0-slim-bookworm docker digest to d7fc7de
  Dockerfile
Due: deploy, image, test

chore(deps): update ghcr.io/cyclonedx/cdxgen-debian-rust docker tag from v11.6.0 to v11.7.0
  .woodpecker/deploy.yaml
Due: deploy, image, dockerhub, test

chore(deps): update kokuwaio/buildctl docker tag from v0.23.2 to v0.24.0
  .woodpecker/deploy.yaml
  .woodpecker/verify.yaml
Due: deploy, image, dockerhub, test

chore(deps): update kokuwaio/hadolint docker tag from v2.12.0 to v2.13.1
  .woodpecker/lint.yaml
Due: none

chore(deps): update rust crate clap from 4.5.45 to 4.5.48
  Cargo.lock
Due: deploy, image, test

Path conditions:
  deploy: any of: .woodpecker/deploy.yaml, README.md, Dockerfile, Cargo.toml, Cargo.lock, src/**
  image: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile, Cargo.toml, Cargo.lock, src/**) and (any file but: README.md)
  dockerhub: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile, Cargo.toml, Cargo.lock, src/**) and (any of: .woodpecker/deploy.yaml, README.md)
  test: any of: .woodpecker/deploy.yaml, README.md, Dockerfile, Cargo.toml, Cargo.lock, src/**
