Repository kokuwaio/renovate-approve-bot: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy, image, dockerhub, sbom, test, verify, rust

.woodpecker/deploy.yaml:

when:
  instance: ci.kokuwa.io
  repo: kokuwaio/renovate-approve-bot
  event: [manual, push]
  branch: main
  path: [.woodpecker/deploy.yaml, README.md, Dockerfile, Cargo.toml, Cargo.lock, src/**]

steps:

  image:
    image: kokuwaio/buildctl:v0.25.1
    settings:
      name:
        - registry.kokuwa.io/kokuwaio/renovate-approve-bot:dev
        - docker.io/kokuwaio/renovate-approve-bot:dev
        - ghcr.io/kokuwaio/renovate-approve-bot:dev
      platform: [linux/amd64, linux/arm64]
      build-args:
        RUSTUP_DIST_SERVER: ${RUSTUP_DIST_SERVER}
        RUSTUP_UPDATE_ROOT: ${RUSTUP_UPDATE_ROOT}
      auth:
        "https://index.docker.io/v1/":
          username: {from_secret: docker_io_username}
          password: {from_secret: docker_io_password}
        ghcr.io:
          username: {from_secret: ghcr_io_username}
          password: {from_secret: ghcr_io_password}
        registry.kokuwa.io:
          username: {from_secret: kokuwa_io_username}
          password: {from_secret: kokuwa_io_password}
      annotation:
        org.opencontainers.image.title: Renovate approve bot
        org.opencontainers.image.description: Bot to approve pull requests made by Renovate in Forgejo/Gitea.
        org.opencontainers.image.url: $CI_REPO_URL
        org.opencontainers.image.documentation: $CI_REPO_URL/README.md
        org.opencontainers.image.source: $CI_REPO_CLONE_URL
        org.opencontainers.image.revision: $CI_COMMIT_SHA
        org.opencontainers.image.vendor: kokuwa.io
        org.opencontainers.image.licenses: EUPL-1.2
        org.opencontainers.image.ref.name: kokuwaio/renovate-approve-bot
        org.opencontainers.image.version: dev
    when: [path: {exclude: [README.md]}]

  dockerhub:
    depends_on: [image]
    image: kokuwaio/dockerhub-metadata
    settings:
      repository: kokuwaio/renovate-approve-bot
      description-short: Bot to approve pull requests made by Renovate in Forgejo/Gitea.
      categories: [developer-tools, integration-and-delivery]
      username: {from_secret: dockerhub_username}
      password: {from_secret: dockerhub_password}
    when: [path: [.woodpecker/deploy.yaml, README.md]]

  sbom:
    depends_on: [image]
    image: ghcr.io/cyclonedx/cdxgen-debian-rust:v11.9.0
    commands: node /opt/cdxgen/bin/cdxgen.js --fail-on-error --author="$GIT_USER_NAME <$GIT_USER_EMAIL>" --server-url=https://dtrack.kokuwa.io --api-key=$DTRACK_API_KEY --project-id=594d7129-9099-4f53-a284-8eccbbf35d2a
    environment:
      DTRACK_API_KEY: {from_secret: dtrack_api_key}
    when: [path: [.woodpecker/deploy.yaml, Cargo.toml, Cargo.lock]]

.woodpecker/test.yaml:

when:
  instance: ci.kokuwa.io
  repo: kokuwaio/renovate-approve-bot
  event: [manual, push]
  branch: main
  path: [.woodpecker/deploy.yaml, README.md, Dockerfile, Cargo.toml, Cargo.lock, src/**]

depends_on: [deploy]
skip_clone: true
matrix:
  PLATFORM: [amd64, arm64]
labels:
  platform: linux/${PLATFORM}

steps:

  help:
    image: kokuwaio/renovate-approve-bot
    pull: true
    entrypoint: [/renovate-approve-bot, --help]

  version:
    image: kokuwaio/renovate-approve-bot
    pull: true
    entrypoint: [/renovate-approve-bot, --version]

.woodpecker/verify.yaml:

when:
  event: pull_request
  path: [.woodpecker/verify.yaml, Dockerfile, Cargo.toml, Cargo.lock, src/**]

steps:

  image:
    image: kokuwaio/buildctl:v0.25.1
    depends_on: []
    settings:
      platform: [linux/amd64, linux/arm64]
      build-args:
        RUSTUP_DIST_SERVER: ${RUSTUP_DIST_SERVER}
        RUSTUP_UPDATE_ROOT: ${RUSTUP_UPDATE_ROOT}

  rust:
    image: rust:1.90.0-slim
    depends_on: []
    commands: [rustup component add rustfmt, cargo fmt --all -- --check]
    when: [path: {exclude: [Dockerfile]}]

chore(deps): update rust:1.91.1-slim-bookworm docker digest to 651c23a
  Dockerfile
Due: deploy, image, test, verify

chore(deps): update rust:1.91.1-slim-bookworm docker digest to 7ef0781
  Dockerfile
Due: deploy, image, test, verify

chore(deps): update rust:1.91.1-slim-bookworm docker digest to 8514999
  Dockerfile
Due: deploy, image, test, verify

chore(deps): update rust docker tag to v1.92.0
  .woodpecker/verify.yaml
  Cargo.toml
  Dockerfile
Due: deploy, image, sbom, test, verify, rust

chore(deps): update kokuwaio/markdownlint docker tag from 0.46.0 to 0.47.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update rust crate reqwest from 0.12.25 to 0.12.26
  Cargo.lock
Due: deploy, image, sbom, test, verify, rust

chore(deps): update kokuwaio/buildctl docker tag from v0.26.2 to v0.26.3
  .woodpecker/deploy.yaml
  .woodpecker/verify.yaml
Due: deploy, image, dockerhub, sbom, test, verify, rust

feat(just): add just file validator
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update rust crate reqwest from 0.12.26 to 0.12.27
  Cargo.lock
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust crate reqwest from 0.12.27 to 0.12.28
  Cargo.lock
Due: deploy, image, sbom, test, verify, rust

feat(renovate): reviewed config and pin to rust
  .woodpecker/verify.yaml
  renovate.json
Due: verify, rust

chore(deps): pin dependencies
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust crate log from =0.4.27 to =0.4.29
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust crate serde from =1.0.215 to =1.0.228
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust crate clap from =4.5.40 to =4.5.53
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust crate reqwest from =0.12.22 to =0.12.28
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust:1.92.0-slim-bookworm docker digest to 182449e
  Dockerfile
Due: deploy, image, test, verify

chore(deps): update rust:1.92.0-slim-bookworm docker digest to a8ce226
  Dockerfile
Due: deploy, image, test, verify

chore(deps): update rust crate reqwest from =0.12.22 to =0.13.1
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust crate clap from =4.5.40 to =4.5.54
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): pin dependencies
  .justfile
  .woodpecker/verify.yaml
  Cargo.lock
  Cargo.toml
  Dockerfile
Due: deploy, image, sbom, test, verify, rust

chore(deps): update kokuwaio/just docker tag from 1.45.0 to 1.46.0
  .justfile
  .woodpecker/lint.yaml
Due: none

feat: only approve pull request with all status checks successful
  Cargo.lock
  Cargo.toml
  src/forgejo.rs
  src/main.rs
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust:1.92.0-slim-trixie docker digest to 6c5ca1b
  Dockerfile
Due: deploy, image, test, verify

chore(deps): update rust:1.92.0-slim-trixie docker digest to 991b176
  Dockerfile
Due: deploy, image, test, verify

chore(deps): update rust:1.92.0-slim-trixie docker digest to 82dcd8f
  Dockerfile
Due: deploy, image, test, verify

chore(deps): update rust:1.92.0-slim-trixie docker digest to bf3368a
  Dockerfile
Due: deploy, image, test, verify

chore(deps): update kokuwaio/yamllint docker tag from v1.37.1 to v1.38.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.26.3 to v0.27.0
  .woodpecker/deploy.yaml
  .woodpecker/verify.yaml
Due: deploy, image, dockerhub, sbom, test, verify, rust

chore(deps): update rust crate clap from =4.5.54 to =4.5.55
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust docker tag to v1.93.0
  .woodpecker/verify.yaml
  Cargo.toml
  Dockerfile
Due: deploy, image, sbom, test, verify, rust

chore(deps): update kokuwaio/buildctl docker tag from v0.27.0 to v0.27.1
  .woodpecker/deploy.yaml
  .woodpecker/verify.yaml
Due: deploy, image, dockerhub, sbom, test, verify, rust

chore(deps): update rust crate clap from =4.5.55 to =4.5.56
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust crate clap from =4.5.56 to =4.5.57
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update kokuwaio/renovate-config-validator docker tag from 42 to 43
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update rust crate reqwest from =0.12.28 to =0.13.2
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust crate clap from =4.5.57 to =4.5.58
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust

chore(deps): update rust crate env_logger from =0.11.8 to =0.11.9
  Cargo.lock
  Cargo.toml
Due: deploy, image, sbom, test, verify, rust
