Repository kokuwaio/renovate-approve-bot: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy, image, dockerhub, test

deploy:
  steps:
    image:
      image: kokuwaio/buildctl:v0.23.2
      settings:
        name:
        - registry.kokuwa.io/kokuwaio/renovate-approve-bot
        - docker.io/kokuwaio/renovate-approve-bot
        - ghcr.io/kokuwaio/renovate-approve-bot
        platform:
        - linux/amd64
        - linux/arm64
        auth:
  ...

image:
  image: kokuwaio/buildctl:v0.23.2
  settings:
    name:
    - registry.kokuwa.io/kokuwaio/renovate-approve-bot
    - docker.io/kokuwaio/renovate-approve-bot
    - ghcr.io/kokuwaio/renovate-approve-bot
    platform:
    - linux/amd64
    - linux/arm64
    auth:
      https://index.docker.io/v1/:
        username:
  ...

dockerhub:
  image: kokuwaio/dockerhub-metadata
  settings:
    repository: kokuwaio/renovate-approve-bot
    description-short: Bot to approve pull requests made by Renovate in Forgejo/Gitea.
    categories:
    - developer-tools
    - integration-and-delivery
    username:
      from_secret: dockerhub_username
    password:
  ...

test:
  steps:
    help:
      image: kokuwaio/renovate-approve-bot
      pull: true
      entrypoint:
      - /renovate-approve-bot
      - --help
    version:
      image: kokuwaio/renovate-approve-bot
      pull: true
      entrypoint:
      - /renovate-approve-bot
      - --version

chore(deps): update rust crate log from 0.4.27 to 0.4.28
  Cargo.lock
Due: deploy, image, test

chore(deps): update rust crate serde from 1.0.219 to 1.0.225
  Cargo.lock
Due: deploy, image, test

chore(deps): update kokuwaio/buildctl docker tag from v0.23.2 to v0.24.0
  .woodpecker/deploy.yaml
  .woodpecker/verify.yaml
Due: deploy, image, dockerhub, test

chore(deps): update rust docker tag to v1.90.0
  .woodpecker/verify.yaml
  Cargo.toml
  Dockerfile
Due: deploy, image, test

chore(deps): update kokuwaio/hadolint docker tag from v2.13.1 to v2.14.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update ghcr.io/cyclonedx/cdxgen-debian-rust docker tag from v11.7.0 to v11.8.0
  .woodpecker/deploy.yaml
Due: deploy, image, dockerhub, test

chore: updated lockfile, use docker arg `TARGETARCH` instead of `uname`
  .justfile
  .woodpecker/lint.yaml
  Cargo.lock
  Dockerfile
Due: deploy, image, test

chore(deps): update rust:1.90.0-slim-bookworm docker digest to fabcc91
  Dockerfile
Due: deploy, image, test

chore(deps): update rust:1.90.0-slim-bookworm docker digest to 9cb6948
  Dockerfile
Due: deploy, image, test

chore(deps): update rust:1.90.0-slim-bookworm docker digest to 69a3fac
  Dockerfile
Due: deploy, image, test

chore(deps): update kokuwaio/buildctl docker tag from v0.24.0 to v0.25.0
  .woodpecker/deploy.yaml
  .woodpecker/verify.yaml
Due: deploy, image, dockerhub, test

chore(deps): update rust:1.90.0-slim-bookworm docker digest to 3bee83b
  Dockerfile
Due: deploy, image, test

chore(deps): update ghcr.io/cyclonedx/cdxgen-debian-rust docker tag from v11.8.0 to v11.9.0
  .woodpecker/deploy.yaml
Due: deploy, image, dockerhub, test

chore(deps): update kokuwaio/buildctl docker tag from v0.25.0 to v0.25.1
  .woodpecker/deploy.yaml
  .woodpecker/verify.yaml
Due: deploy, image, dockerhub, test

chore(deps): update ghcr.io/cyclonedx/cdxgen-debian-rust docker tag from v11.9.0 to v11.10.0
  .woodpecker/deploy.yaml
Due: deploy, image, dockerhub, test

chore(deps): update rust:1.90.0-slim-bookworm docker digest to d9bf5fe
  Dockerfile
Due: deploy, image, test

chore(deps): update rust:1.90.0-slim-bookworm docker digest to b714065
  Dockerfile
Due: deploy, image, test

chore(deps): update rust:1.90.0-slim-bookworm docker digest to 64232e6
  Dockerfile
Due: deploy, image, test

chore(deps): update ghcr.io/cyclonedx/cdxgen-debian-rust docker tag from v11.10.0 to v11.11.0
  .woodpecker/deploy.yaml
Due: deploy, image, dockerhub, test

chore(deps): update rust docker tag to v1.91.0
  .woodpecker/verify.yaml
  Cargo.toml
  Dockerfile
Due: deploy, image, test

chore(deps): update rust crate reqwest from 0.12.23 to 0.12.24
  Cargo.lock
Due: deploy, image, test

chore(deps): update rust crate clap from 4.5.48 to 4.5.51
  Cargo.lock
Due: deploy, image, test

chore(deps): update rust crate serde from 1.0.226 to 1.0.228
  Cargo.lock
Due: deploy, image, test

chore(deps): update rust:1.91.0-slim-bookworm docker digest to 81c9759
  Dockerfile
Due: deploy, image, test

chore(deps): update kokuwaio/buildctl docker tag from v0.25.1 to v0.25.2
  .woodpecker/deploy.yaml
  .woodpecker/verify.yaml
Due: deploy, image, dockerhub, test

chore(deps): update rust docker tag to v1.91.1
  .woodpecker/verify.yaml
  Cargo.toml
  Dockerfile
Due: deploy, image, test

chore(deps): update rust:1.91.1-slim-bookworm docker digest to ea63277
  Dockerfile
Due: deploy, image, test

chore(deps): update kokuwaio/buildctl docker tag from v0.25.2 to v0.26.0
  .woodpecker/deploy.yaml
  .woodpecker/verify.yaml
Due: deploy, image, dockerhub, test

chore(deps): update kokuwaio/buildctl docker tag from v0.26.0 to v0.26.1
  .woodpecker/deploy.yaml
  .woodpecker/verify.yaml
Due: deploy, image, dockerhub, test

chore(deps): update rust crate clap from 4.5.51 to 4.5.52
  Cargo.lock
Due: deploy, image, test

chore(deps): update kokuwaio/renovate-config-validator docker tag from 41 to 42
  .woodpecker/lint.yaml
Due: none

chore(deps): update rust:1.91.1-slim-bookworm docker digest to c406439
  Dockerfile
Due: deploy, image, test

chore(deps): update kokuwaio/markdownlint docker tag from 0.45.0 to 0.46.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update rust crate clap from 4.5.52 to 4.5.53
  Cargo.lock
Due: deploy, image, test

chore(deps): update kokuwaio/buildctl docker tag from v0.26.1 to v0.26.2
  .woodpecker/deploy.yaml
  .woodpecker/verify.yaml
Due: deploy, image, dockerhub, test

chore(deps): update ghcr.io/cyclonedx/cdxgen-debian-rust docker tag from v11.11.0 to v12.0.0
  .woodpecker/deploy.yaml
Due: deploy, image, dockerhub, test

chore(deps): update rust crate log from 0.4.28 to 0.4.29
  Cargo.lock
Due: deploy, image, test

chore(deps): update rust crate reqwest from 0.12.24 to 0.12.25
  Cargo.lock
Due: deploy, image, test

Path conditions:
  deploy: any of: .woodpecker/deploy.yaml, README.md, Dockerfile, Cargo.toml, Cargo.lock, src/**
  image: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile, Cargo.toml, Cargo.lock, src/**) and (any file but: README.md)
  dockerhub: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile, Cargo.toml, Cargo.lock, src/**) and (any of: .woodpecker/deploy.yaml, README.md)
  test: any of: .woodpecker/deploy.yaml, README.md, Dockerfile, Cargo.toml, Cargo.lock, src/**
